body{
    font-family: 'Helvetica';
    font-size: larger;
    border-style: double;
    border-width: thick;
    background-color: rgb(228, 167, 77);
    background-image: linear-gradient(to bottom right, teal, orange);
}
h1{
    color: black;
    font-family: 'Helvetica';
    font-size: 50px;
    font-style: italic;
    text-align: center;
}
p{
    color: black;
    font-family: 'Helvetica';
    font-size: medium;
    padding: 30px;
    border: 10px white
}
